.table-verticalScroll { 
    max-height: 78vh;
    overflow-y: auto;
}


.table.country-table td, .table.country-table th{
    padding: .45rem !important;
    vertical-align: text-top;
    font-size: 0.85rem;
  }