.district-detail {
    margin: 10px 5px;
    border: 1px solid #f0f0f0;
    width: 30% !important;
    max-width: 30%;
    padding: 10px 10px 10px 22px;
    box-shadow: 1px 1px 2px #f0f0f0;
}

.state-details-section {
    padding: 0px 0px 0px 80px;
}

.district-section {
    max-height: 70vh !important;
    overflow-y: auto;
    margin-left: 0px;
}