.table-verticalScroll-Ind {
    max-height: 80vh !important;
    overflow-y: auto;
}

.table.country-table td, .table.country-table th {
    padding: .45rem !important;
    vertical-align: text-top;
    font-size: 0.85rem;
    z-index: 100;
}